*{
    background-color: antiquewhite;
}

h1{
    margin-left: 10px;
}
hr{
  border: 3px solid #59388c;
  
}
li :hover{
  
  color:  #59388c;
  
}
p{
  text-indent: 30px;
  font-size: 16px;
}
#small{
  font-size: 6px;
}
#smaller{
  font-size: 2px;
}
.flex-container {
    display: flex;
    
    flex-direction: row;
    height: 100%;
  }

  #image-header{
    background-color: #59388c;
    padding-left: 20px;
  }
  #side-bar{
    background-color: #59388c;
    flex:1;
    
  }
  #main-content{
    background-color: antiquewhite;
    flex:3
  }
  .pic{
    
    width: 150px;
    margin:auto;
    display: block;
    object-fit: contain;
    background-color: #59388c;
  }
  #name-header{
    display: flex;
    flex-direction: row;
    
  }
  .subheading{
    margin-left: 10px;
  }
  .subheading-content{
    margin-left: 20px;
  }
  #image-grid{
    display: grid;
    grid-template-columns: auto auto;
  }
  .grid-item{
    padding: 10px;
    padding-bottom: 30px;
    background-color: #59388c;
  }